<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for service communication -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidSecurityUtils"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intent Receiver Activity -->
        <activity
            android:name=".IntentReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Service Activity -->
        <activity
            android:name=".service.ServiceActivity"
            android:exported="false" />

        <!-- Hypothetical Service for testing service communication -->
        <service
            android:name=".service.HypotheticalService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tur11ng.ACTION_BIND" />
                <action android:name="com.tur11ng.ACTION_PROCESS_DATA" />
                <action android:name="com.tur11ng.ACTION_START_FOREGROUND" />
                <action android:name="com.example.ACTION_SYNC" />
            </intent-filter>
        </service>

        <!-- Intent Broadcast Receiver -->
        <receiver
            android:name=".IntentBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tur11ng.ACTION_TEST" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>

